div {
    width: 100px;
    height: 100px;
    background: red;
    transition-property: width height;
    /* transition-delay: 1s; */
    transition-duration: 2s;
    

    /* This is the default value of the transition-timing-function: ease. This value uses the so-called "cubic bezier. That is, with "ease", the change will start slowly, then quicken up and then slow down at the end again. */
    /* transition-timing-function: ease; */

    /* "Linear" will make the effect with an even speed from the beginning till end. */
    /* transition-timing-function: linear */

    /* With "ease-in" the animation effect starts slower, and it speeds up at the end. */
    /* transition-timing-function: ease-in */

    /* With ease-out the animation effect starts quicker, and it slows down towards the end. */
    /* transition-timing-function: ease-out */

    /* With ease-in-out, animation starts slow, speeds up in the middle, and slows down towards the end again. This is similar to regular ease, but here, in the middle, instead of it being fast, it is normal. */
    /* transition-timing-function: ease-in-out */

   /* Cubic-bezier is exactly the same behavior as ease, ease-in, ease-out, ease-in-out have, but they have all default set values of cubic bezier. This is where we describe how we want the animation to start, then how to continue in the middle, then again in the middle, and finally, at the end. */
    /* transition-timing-function: cubic-bezier(.17,1,.88,.11) */

    /* This is the short hand property transition, which combines the rest: we want it to apply to width, to height, to last 2 seconds, to be linear transition and to have a delay of 1s. */
    transition: width height 2s linear 1s;




}

div:hover {
    width: 200px;
    height: 200px;
}