div {
    width: 100px;
    height: 100px;
    background: red;
    animation-name: example;
    position: relative;
    /* If we don't have animation duration, the default value will be 0 and we won't be able to see it. The animation happens so quat we are unable to see it.*/
    animation-duration: 4s;

    animation-delay: 5s;
    /* If we give a negative value to animation-delay, e.g., -2s the animation will start as if already 2 seconds have passed. In this case, since the duration is 4s, the animation starts at the middle. */
    /* animation-delay: -2s; */

    /* How many times I want the animation to repeat. */
    animation-iteration-count: infinite;

    /* We can tell the animation to play in a different direction. normal is the default value. */
    /* animation-direction: normal; */

}

div:hover {
    width: 200px;
    height: 200px;
}

/* The animation has beginning and end. At the beginning, we can say it is 0%, and at the end, it is 100%. We can divide the whole animation into percentages, from beginning till end. Animation allows us to slowly change the styles of a particular element from one to another.*/
/* The changes are going to be applied within the brackets. */
/* Instead of percentages, we can use from and to. */

@keyframes example {
    0% {
        background-color: red;
        left: 0;
        top: 0;
    }

    25% {
        background-color: yellow;
        left: 200px;
        top: 0px;
    }

    50% {
        background-color: blue;
        left: 200px;
        top: 200px;
    }

    75% {
        background-color: green;
        left: 0px;
        top: 200px;

    }

    100% {
        background-color: red;
        left: 0px;
        top: 0px;

    }

    /* from {
        background-color: red;

    }

    to {
        background-color: yellow; */
    
}